<nav class="blue darken-2">
    <div class="nav-wrapper container">
        <div class="col s12">
            <a href="/scout" class="breadcrumb">Scout</a>
            <a href="/scout" class="breadcrumb">Dashboard</a>
        </div>
    </div>
</nav>

{{#if success_msg}}
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <div class="row">
            <div class="info-message green white-text">
                {{success_msg}}
            </div>
        </div>
    </div>
</div>
{{/if}}

{{#if error_msg}}
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <div class="row">
            <div class="info-message red darken-1 white-text">
                {{error_msg}}
            </div>
        </div>
    </div>
</div>
{{/if}}

{{#if error}}
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <div class="row">
            <div class="info-message red darken-1 white-text">
                {{error}}
            </div>
        </div>
    </div>
</div>
{{/if}}

<div class="section no-pad-bot" id="index-banner">
	<div class="container center">
		<h1 class="header center blue-text text-darken-4">Eaglescout<span class="bullet"> &bull; </span><span class="subtitle">Scout Dashboard</span></h1>
        <br>
		<a class="waves-effect waves-light btn-large green darken-2" href="/scout/new"><i class="material-icons left">add</i>New Observation</a>
        <a class="waves-effect waves-light btn-large blue darken-2" href="/scout/list"><i class="material-icons left">list</i>Scout List</a>
        <a class="waves-effect waves-light btn-large purple darken-2" href="/scout/teamranking"><i class="material-icons left">bookmark</i>Team Ranking</a>
        <a class="waves-effect waves-light btn-large amber darken-2" href="/scout/graphic"><i class="material-icons left">image</i>Graphics</a>

        <br><br>
        <div class="container">
            <div class="row">
                <h5>Search for a team</h5>
                <div class="input-field">
                    <input class="validate" id="team-search" placeholder="Team Number" type="number">
                </div>
                <a class="waves-effect waves-light btn-large red" id="team-search-button">Search</a>
            </div>
        </div>
        <br><br>
        <a class="waves-effect waves-light btn-large green modal-trigger" href="#export-modal"><i class="material-icons left">file_download</i>Export Observations to CSV</a>
	</div>
</div>
<div id="export-modal" class="modal">
    <div class="modal-content">
    <h1 class="header text-darken-4">Select Events To Export</h1>
	<select id="select-events" multiple>
        {{#if events}}
            {{#each events}}
                {{#if current }}
                    <option value="{{ key }}" selected>{{ name }}</option>
                {{else}}
                    <option value="{{ key }}">{{ name }}</option>
                {{/if}}
            {{/each}}
        {{/if}}
    </select>
    </div>
	<div class="modal-footer">
    <button id="export-csv" class="btn waves-effect waves-light red">Export!</button>

    {{!-- <a href="/scout/csv" class="waves-effect waves-green btn-flat">Export Observations</a> --}}
	</div>
</div>
